canvas {
    z-index: -5;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.glow {
    z-index: -10;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}