* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;

    font-family: 'Nunito';
}

:root {
    --bg-color: #000;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: hwb(197 0% 6%);
    --main-color2: hwb(140 0% 14%);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.glass {
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
    /*border-radius: 50px;*/
    border: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
}

@media (min-width: 576px) {
    .fs-sm-1 {
        font-size: 2.25rem !important
    }

    .fs-sm-2 {
        font-size: 1.8rem !important
    }

    .fs-sm-3 {
        font-size: 1.575rem !important
    }

    .fs-sm-4 {
        font-size: 1.35rem !important
    }

    .fs-sm-5 {
        font-size: 1.125rem !important
    }

    .fs-sm-6 {
        font-size: .9rem !important
    }

    .px-sm-8p {
        padding-left: 8% !important;
        padding-right: 8% !important;
    }
}

@media (min-width: 768px) {
    .fs-md-1 {
        font-size: 2.25rem !important
    }

    .fs-md-2 {
        font-size: 1.8rem !important
    }

    .fs-md-3 {
        font-size: 1.575rem !important
    }

    .fs-md-4 {
        font-size: 1.35rem !important
    }

    .fs-md-5 {
        font-size: 1.125rem !important
    }

    .fs-md-6 {
        font-size: .9rem !important
    }
}

@media (min-width: 992px) {
    .fs-lg-1 {
        font-size: 2.25rem !important
    }

    .fs-lg-2 {
        font-size: 1.8rem !important
    }

    .fs-lg-3 {
        font-size: 1.575rem !important
    }

    .fs-lg-4 {
        font-size: 1.35rem !important
    }

    .fs-lg-5 {
        font-size: 1.125rem !important
    }

    .fs-lg-6 {
        font-size: .9rem !important
    }
}

.header {
    width: 100%;
    padding: 2rem 9%;
    z-index: 100;

    background: rgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
}

.text-color {
    color: var(--text-color);
}

.bold {
    font-weight: bold;
}

.navbar a {
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: 0.3s;
    text-decoration: none;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

section {
    min-height: 100vh;
    padding-top: 10rem;
    padding-bottom: 2rem;
    position: relative;
}

.home {
    display: flex;
    align-items: center;
}

.home-content {
    max-width: 60rem;
    margin-bottom: 8rem;
}

.home-content h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content .text-animate {
    position: relative;
    /*width: 25rem;*/
}

.home-content .text-animate h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 0.7px var(--main-color);
}

.home-content p {
    font-size: 1.6rem;
}

.home-links {
    position: absolute;
    bottom: 2rem;
    display: flex;
}

.home-links a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-links a:hover {
    color: var(--text-color);
}

.home-links a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.home-links a:hover::before {
    width: 100%;
}

.btn-box {
    /*
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 5rem;*/
    max-width: 32.8rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /*width: 15rem;*/
    height: 100%;
    background-color: transparent; /*var(--main-color);*/
    border: 0.2rem solid var(--main-color);
    border-radius: 0.8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--text-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.about .btn {
    border: 0.2rem solid var(--main-color2);
}

.about .btn-box .btn:hover {
    color: var(--main-color2);
}

.about .btn-box .btn::before {
    background-color: var(--main-color2);
}


.btn-box .btn:nth-child(2) {
    color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
    color: var(--text-color);
}

.btn-box .btn:nth-child(2)::before {
    width: 0%;
}

.btn-box .btn:nth-child(2):hover::before {
    width: 100%;
}

.btn-box .btn:hover {
    color: var(--main-color);
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before {
    width: 0%;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 3rem;
}

.heading span {
    color: var(--main-color2);
}

.about-img {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    border-radius: 50%;
    width: 90%;
    height: 90%;
    border: .2rem solid var(--main-color2);
}

.about-img .circle-spin {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid transparent;
    border-bottom: .2rem solid transparent;
    border-left: .2rem solid var(--main-color2);
    border-right: .2rem solid var(--main-color2);
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.about-content {
    text-align: center;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    padding: 2rem 0 3rem;
}